<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
  <h1>Manage users</h1>

  <p/>
    <a class="btn btn-primary" href="/admin/createUser">
        Create user
      </a>
  <p/>

  <div class="list-group">
    <div class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </div>
  </div>
</div>
