.ng-table th{
    text-align: left;
}

.ng-table th.sort-asc:after {
    content: '\25B2';
}

.ng-table th.sort-desc:after {
    content: '\25BC';
}

.ng-table-group{
    background: #e0e0e0;
    border: 1px solid #afccdb;
}

.ng-table-striped > tbody > tr.ng-table-row:nth-of-type(odd) {
    background-color: #f9f9f9;
    border: 1px solid #afccdb;
}
.ng-table-striped > tbody > tr.ng-table-row:nth-of-type(even) {
    border: 1px solid #afccdb;
}

.label{
    font-size: 12px;
}

.label-success {
    background-color: #8fa674 !important;
}

.label-info {
    background-color: #506273 !important;
}

.label-warning {
    color: #868686 !important;
    background-color: #dbc79b !important;
}

.label-danger {
    background-color: #c78b8e !important;
}
