<h3>{{vm.ShipName}}</h3>
<div class="row" cg-busy="vm.promise">
    <div class="col-lg-12">
        <table ng-table="vm.tableParams" class="table ng-table-striped">
            <thead>
            <tr>
                <th class="col-md-3">Instrument</th>
                <th class="col-md-1">Serial Number</th>
                <th class="col-md-1">Certificate Expiry Date</th>
                <th class="col-md-1">Status</th>
            </tr>
            </thead>
            <tbody ng-repeat="group in $groups">
            <tr class="ng-table-group">
                <td colspan="4">
                    <div ng-click="group.$hideRows = !group.$hideRows">
                        <span class="glyphicon"
                              ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                        Category: <strong>{{ group.value }}</strong>
                    </div>
                </td>
            </tr>
            <tr ng-hide="group.$hideRows" ng-repeat="instrument in group.data" class="ng-table-row">
                <td sortable="instrument" data-title="'Instrument'">
                    <a ui-sref="instrument({id: instrument.instrumentId, serial: instrument.sncode })" class="">{{instrument.name}}</a>
                </td>
                <td sortable="sncode" data-title="'Serial Number'">
                    {{instrument.sncode}}
                </td>
                <td sortable="certDate" data-title="'Certificate Expiry Date'">
                    <div ng-class="vm.getClassForDate(instrument.certDate)">
                        {{instrument.certDate| date:'dd/MM/yyyy'}}
                    </div>
                </td>
                <td sortable="status" data-title="'Status'">
                    <div ng-class="vm.getClassForStatus(instrument.status)">
                        {{instrument.status}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

