.img-thumbnail{
  max-width: 230px;
  max-height: 230px;
  width: auto;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  vertical-align: top;
}

.link {
  vertical-align: top;
  margin: 15px 15px;
}
