<div ng-class="{collapse: isCollapsed}" role="navigation" ng-controller="NavbarCtrl as vm">
  <img src="../../assets/images/prime-logo.png" class="page-sidebar-header">
  <ul class="nav nav-sidebar"><!--<ul class="nav navbar-nav side-nav">-->
    <li ng-show="vm.isAdmin()" ng-class="{active: vm.isActive('/admin')}"><a ui-sref="admin">Admin</a></li>
    <li ng-show="vm.isAdmin()" ng-class="{active: vm.isActive('/admin/certificates')}"><a ui-sref="adminCertificates">Certificates</a></li>
    <li ng-show="vm.isShipHolder()" ng-class="{active: vm.isActive('/ship')}"><a ui-sref="ships">Inventory List</a></li>
    <!--<li ng-show="vm.isShipHolder()" ng-class="{active: vm.isActive('/instruments')}"><a ui-sref="model">Instruments</a> </li>-->
  </ul>
</div>
